<footer>
  <hr>

  <div class=container-fluid>
    <div class=row>
      <div class="col-sm offset-sm-1">
        <h5>Browse</h5>
        <ul>
            <li><a href="{{site.path_dynamic_site}}/browse/datasets">Database - Datasets</a></li>
            <li><a href="{{site.path_dynamic_site}}/browse/configuration-sets">Database - Configuration Sets</a></li>
            <li><a href="{{site.path_dynamic_site}}/browse/property-definitions">Database - Property Definitions</a></li>
        </ul>

        <h5><a style="color: #ddd" target=_blank href="https://github.com/colabfit/data-lake/issues/new?assignees=&labels=dataset&projects=&template=submit_dataset.yml&title=%5BDataset+submission%2Frequest%5D%3A+%2A%2AEnter+dataset+name+here%2A%2A">Submit/request data</a></h5>
        <ul></ul>

        <h5>Tools</h5>
        <ul>
            <li><a target=_blank href="https://colabfit.github.io/colabfit-tools/html/index.html">ColabFit tools</a></li>
            <li><a href="{{site.path_static_site}}/data-standard">ColabFit Data Standard</a></li>
            <li><a target=_blank href="https://github.com/openkim/kliff">KLIFF</a></li>
            <li><a target=_blank href="https://github.com/ipcamit/kliff">KLIFF-Torch</a></li>
            <li><a target=_blank href="https://github.com/ipcamit/colabfit-descriptor-library">Libdescriptor</a></li>
        </ul>

        <h5>About</h5>
        <ul>
            <li><a href="{{site.path_static_site}}/about">About ColabFit<br>Exchange</a></li>
            <li><a href="{{site.path_static_site}}/leadership">Leadership and<br>Funding</a></li>
            <li><a href="{{site.path_static_site}}/team">ColabFit Team</a></li>
            <li><a href="{{site.path_static_site}}/consortium">Consortium</a></li>
        </ul>

        <h5><a style="color: #ddd" href="{{site.path_static_site}}/contact">Contact</a></h5>


      </div>

      <div class="col-sm">

        <div style="white-space: nowrap;">
          <a style="text-decoration: none" target="_blank" href="https://www.nsf.gov/"><img src="{{site.path_static_site}}/images/nsf.png" width="50" alt="NSF logo" style="background: #ccc"></a>
          <span style="color: #aaa">The ColabFit project is supported by</span> <a style="text-decoration: underline; color: #aaa" href="{{site.path_static_site}}/about">NSF funding</a>
        </div>

        <br>
        <div style="white-space: nowrap;">
          <a style="text-decoration: none" target="_blank" href="https://kim-initiative.org/"><img src="{{site.path_static_site}}/images/kim-initiative-logo-small-grayscale.jpg" width="50" alt="KIM Initiative logo" style="background: #ccc"></a>
          <span style="color: #aaa">ColabFit is a <a style="text-decoration: underline; color: #aaa" target="_blank" href="https://kim-initiative.org/">KIM Initiative</a> project</span>
        </div>

        <br>
        <div style="white-space: nowrap;">
          <a style="text-decoration: none" target="_blank" href="https://hsrn.nyu.edu/">
          <img src="{{site.path_static_site}}/images/nyu-logo-gs.png" width="50" alt="NYU logo" style="color: #aaa"></a>
          <span style="color: #aaa">ColabFit is hosted on resources provided by <a href="https://hsrn.nyu.edu/" target="_blank">NYU's High Speed Research Network (HSRN)</a></span>
        </div>

      </div>
    </div> <!-- div class=row -->

    <div class="row" style="padding-bottom: 4em; padding-top: 4em;">
      <div class="col-md-5 offset-md-1" style="padding-top: 1em;">
      </div>
    </div>
  </div>
</footer>
