<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{site.path_static_site}}">
      <img style="width: 34px;" src="{{site.path_static_site}}/images/colabfit-logo-transparent.svg" alt="ColabFit logo" />
      <span class="navbar-brand-text">ColabFit Exchange</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="{{site.path_static_site}}">Home</a></li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Browse
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="https://materials.colabfit.org/browse">Database</a></li>
            <!--
            <li><a class="dropdown-item" href="{{site.path_static_site}}/materials-atlas">Materials Atlas</a></li>
            -->
          </ul>
        </li>

        <li class="nav-item"><a class="nav-link" target=_blank href="https://github.com/colabfit/data-lake/issues/new?assignees=&labels=dataset&projects=&template=submit_dataset.yml&title=%5BDataset+submission%2Frequest%5D%3A+%2A%2AEnter+dataset+name+here%2A%2A">Submit/request data</a></li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Tools
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" target=_blank href="https://colabfit.github.io/colabfit-tools/html/index.html">ColabFit tools</a></li>
            <li><a class="dropdown-item" href="{{site.path_static_site}}/data-standard">ColabFit Data Standard</a></li>
            <li><a class="dropdown-item" target=_blank href="https://github.com/openkim/kliff">KLIFF</a></li>
            <li><a class="dropdown-item" target=_blank href="https://github.com/ipcamit/kliff">KLIFF-Torch</a></li>
            <li><a class="dropdown-item" target=_blank href="https://github.com/ipcamit/colabfit-descriptor-library">Libdescriptor</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            About
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{site.path_static_site}}/about">About ColabFit<br>Exchange</a></li>
            <li><a class="dropdown-item" href="{{site.path_static_site}}/leadership">Leadership and<br>Funding</a></li>
            <li><a class="dropdown-item" href="{{site.path_static_site}}/team">ColabFit Team</a></li>
            <li><a class="dropdown-item" href="{{site.path_static_site}}/consortium">Consortium</a></li>
          </ul>
        </li>

        <li class="nav-item"><a class="nav-link" href="{{site.path_static_site}}/contact">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
